* { box-sizing: border-box }

html,
body {
  margin: 0;
}

body {
  background: #d8d8d8;
  font-family: 'Algemeen', Arial, sans-serif;
  text-align: center;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1,
h2,
h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 1em 0;
}

svg {
  width: 90vw;
  margin-bottom: -40vw;
  pointer-events: none;
}

path,
polygon {
  fill: #000;
}

a {
  color: #000;
}

img {
  height: 6em;
}

hr {
  height: 2px;
  background: #000;
  border: 0;
  margin: 0;
  clear: both;
}

.rsvp-button {
  position: fixed;
  right: 5vw;
  bottom: 5vw;
  background: #fff;
  font-size: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  color: #000;
  border: 3px solid #f00;
  text-decoration: none;
  z-index: 300;
}

.section {
  width: 90vw;
  margin: 0 auto;
  padding: 1.9vw 0;
  text-align: left;
}

.section hr {
  margin: 1vw -5vw;
}

.small {
  font-size: 0.8em;
}

.col {
  float: left;
  width: 40%;
  margin-right: 5%;
  margin-bottom: 5vw;
  line-height: 1.25em;
}

.programme-line.col {
  margin: 0.5em 5% 0.5vw 0;
}

.clear {
  clear: both;
}

.white {
  background: #fff;
  width: 100%;
}

.white .section {
  padding-bottom: 0;
}

.nat {
  font-size: 0.8em;
}

.more {
  clear: both;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out height;
}

.more.active {
  height: 8em;
}

.arrow {
  display: inline-block;
  margin-right: 1em;
  cursor: pointer;
  transition: 0.3s ease-in-out transform;
}

.arrow.active {
  transform: rotate(-180deg);
}

@media (max-width: 900px) {
  body {
    font-size: 1.3rem;
  }

  .col:not(.programme-line) {
    float: none;
    width: 100%;
  }

  .programme-line {
    width: 100%;
  }
}
